<div class="container" style="background-color: red;">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" style="background-color: grey; border: solid black 3px; margin-top:15px; margin-bottom: 15px">
			<h1>Welcome to GameBrand</h1>
			<h3>One more game...</h3>
			<p>We may be few in numbers but we are as crazy as that guy outside your house, to the right and walk about five minutes.  You know the guy.</p>
		</div>
	</div>
	
</div>

<div class="container" style="background-color: red;">
	<br/>
	<div class="row">
		<div class="col-xs-12">
			
			<div class="col-xs-12 col-md-6" style="background-color: grey; border: solid black 3px; padding: 5px">
				<h1>Want a game now?</h1>
				<p>Play a game in your browser now.</p>
				<a style="color: linen" href="play.html">Play Now!</a>
			</div>
			<div class="col-xs-12 col-md-6" style="background-color: grey; border: solid black 3px; padding: 5px">
				<h1>Want's new?</h1>
				<p>Check out the most recent updates, news and more from the developer</p>
				<a style="color: linen" href="play.html">Play Now!</a>	
			</div>
			<div class="col-xs-12 col-md-6" style="background-color: grey; border: solid black 3px; padding: 5px">
				<h1>Learn more about the team?</h1>
				<p>Find out more about a team member, follow on social media and/stalk?</p>
				<a style="color: linen" href="play.html">Play Now!</a>
			</div>
			<div class="col-xs-12 col-md-6" style="background-color: grey; border: solid black 3px; padding: 5px">
				<h1>Need to get in touch?</h1>
				<p>Send us a message and we'll get in touch as soon as we respawn</p>
				<a style="color: linen" href="play.html">Play Now!</a>	
			</div>
			
			
		</div>
		
	</div>
	<br/>
</div>