
	

	<!-- Solo Game Files -->

	<!-- For DUP -->

		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<p>Welcome to the play section.  Below you will find ZoomTroops.</p>
					<p> - ZoomTroops - </p>
					<p>ZoomTroops is game completely written in HTML, CSS and JavaScript.</p>
					<p>During development, ZoomTroop's design was completely different, and has seen a number of redevelopments.  In fact, I might just update a bit of the code to show how ZoomTroops has gone from a zombie shooter to a space invaders clone and even had a StarWars Skin!</p>					
				</div>
			</div>
			
		</div>

<!-- Game Files -->

		<div class="container">
			<div class="row">
				<div id="canvasTop">
					SCORE: <div class="setInline width50" id="scoreDiv">0</div>
				</div>
				<div id="gameDiv">
				<div id="gameOver" hidden="true">Game Over</div>
				<canvas id="gameCanvas" width='512' height='480'/>
				</div>
			</div>


		</div>

		<!--<script src="../js/jquery-1.10.2.min.js" type="text/javascript"></script>-->
		<script src="../js/Gunship.js" type="text/javascript"></script>
		<script src="../js/ImageCache.js" type="text/javascript"></script>
		<script src="../js/Sprite.js" type="text/javascript"></script>
		<script src="../js/GameClock.js" type="text/javascript"></script>
		<script src="../js/AutoSprite.js" type="text/javascript"></script>
		<script src="../js/GameEngine.js" type="text/javascript"></script>
		
